body {
    margin: 10px;
    padding: 0;
    min-height: 100dvh;
    background: linear-gradient(#0000aa55, #00aa0055);
    display: flex;
    flex-direction: column;
    place-items: center;
}

#header {
    color: red;
    display: flex;
    flex-direction: column;
    gap: 0px;
    place-items: center;
}

#header h1 {
    border-radius: 4px;
    padding: 8px;
    background-color: aqua;
}

#header+p {
    background-color: burlywood;
    border-radius: 4px;
    text-align: center;
    color: blueviolet;
    font-weight: 900;
    font-size: 14pt;
    padding: 8px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#main>img {
    width: 200px;
    border-radius: 50%;
}

#main>p {
    padding: 12px;
    font-size: 14pt;
    background-color: rgb(247, 220, 72);
    border-radius: 8px;
    text-shadow: 1px 1px rgb(252, 225, 106);
}

#skill {
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: fit-content;
    background-color: #0000aa55;
    border-radius: 8px;
    padding: 8px;
    text-shadow: 1px 1px #afa;
}